# enable extensionless permalinks
Options +MultiViews

RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://alper.datav.is/$1 [R,L]

# force cv to always pull the latest version (don't allow browsers to cache)
<filesMatch "/assets/content/sarikaya-cv.pdf">
  FileETag None
  <ifModule mod_headers.c>
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>
