---
layout: default
title: Alper's blogpost index
---

<div class="row mt-3 mb-3">
  <div class="col-md-8">
    <h1>Blogpost index</h1>
    <p>A collection of posts about visualization or my work.  <a href="#personal">Personal posts are below</a>.</p>
  </div>
</div>
{% assign w_posts = site.posts | where_exp: 'post', 'post.categories contains "vis"' %}
{% assign p_posts = site.posts | where_exp: 'post', 'post.categories contains "personal"' %}

{% for post in w_posts %}
{% include post-list.html post=post %}
{% endfor %}

<div class="row mt-5">
  <a name="personal"></a><h2 class="d-flex align-items-center">
    Personal posts
    <a href="#" class="back-to-top ps-3" title="Back to top"><span class="fa fa-arrow-up" aria-hidden="true"></span></a>
  </h2> 
  <p>A smattering of musings!</p>
</div>
{% for post in p_posts %}
{% include post-list.html post=post %}
{% endfor %}