---
layout: bare
---

<div class="jumbotron">
  <div class="container">
    <img src="assets/img/face2.jpg" alt="Alper Sarikaya's smiling mug" class="rounded float-left mr-4 mb-2" >
    <h1 clas="display-3">Alper Sarikaya</h1>
    <p>I build software enabling people to create data visualizations in order to help <strong>everyone</strong> make sense of large amounts of data.</p>
    <p>I attended the <a href="https://uw.edu/" target="_blank">University of Washington</a>, and then earned a PhD from the <a href="https://wisc.edu" target="_blank">University of Wisconsin-Madison</a>.  My experience includes creating visualizations for biological analyses and using visualization to summarize large amounts of data to highlight trends, patterns, and anomalies. Currently, I work as an senior R&amp;D software engineer for Microsoft's data visualization product: <a href="https://powerbi.microsoft.com" target="_blank">Power BI</a>.</p>
    <p>Find me on <a href="http://twitter.com/yelperalp" target="_blank">Twitter</a>, <a href="http://github.com/yelper/" target="_blank">GitHub</a>, <a href="http://www.reddit.com/user/yelper" target="_blank">Reddit</a>, and <a href="https://keybase.io/yelper" target="_blank">Keybase</a>.  <a href="/assets/content/sarikaya-cv.pdf" target="_blank">My CV is available</a>, as well as statements on research and teaching on request.</p>
    <p><i class="fa fa-info-circle inline-icon"></i>  <a href="/about/">More details &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row my-3">
    <div class="col-md-12">
      <h3><a href="/blog"">Blog posts →</a></h3>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    {% assign w_posts = site.posts | where_exp: 'post', 'post.categories contains "vis"' %}
    {% assign p_posts = site.posts | where_exp: 'post', 'post.categories contains "personal"' %}
    {% assign sorted_posts = w_posts | sort: 'date' | reverse | slice: 0, 3 %}
    {% for post in sorted_posts %}
    <div class="col mb-4">
      <div class="card">
        <a href="{{ post.url }}"">
          <img src="/assets/img/{{ post.teaser }}" class="card-img-top" alt="Teaser image for this blog post">
        </a>
        <div class="card-body">
          <h5 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
          <p class="card-text">{{ post.excerpt }}</p>
          <p class="card-text"><small class="text-muted">{{ post.date | date_to_long_string }}</small></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row mt-2">
    <div class="col-md-6">
      <a href="/blog">More posts ({{ site.posts | size }} total, including {{ p_posts | size }} personal posts) &raquo;</a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h3>Publications</h3>
    </div>
  </div>
  {% assign sorted_pubs = site.publications | sort: 'datepublished'  | reverse %}
  {% for page in sorted_pubs %}
  {% capture asset_uri  %}/assets/publications/{{ page.title | downcase }}/{% endcapture %}
  <div class="row py-4 publication-entry">
    <div class="col-md-2 col-sm-3">
      <img src="{{ asset_uri }}{{ page.thumbnail }}" alt="{{ page.articletitle }}" class="img-fluid img-thumbnail mt-1 mb-3">
    </div>
    <div class="col-md-10 col-sm-9">
      <h4 class="publication-title">
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.articletitle }}</a>
      </h4>
      <p class="publication-meta">
        {{ page.authors | join: ", " }}<br />
        {{ page.publication }}{% if page.presented %} (proceedings {{ page.presented }}){% else %}, {{ page.datepublished | date: "%Y" }}{% endif %}
      </p>
      <p class="publication-excerpt">
        {{ page.excerpt }}
      </p>
      <ul class="list-inline resources">
        {% if page.link_paperlink %}
        <li class="list-inline-item">
          <a href="{% unless page.link_paperlink contains "/" %}{{asset_uri}}{% endunless %}{{ page.link_paperlink }}" title="paper link (PDF)" target="_blank">
            <span class="fa fa-file-text" aria-hidden="true"></span>
            paper
          </a>
        </li>
        {% endif %}
        {% if page.website_project %}
        <li class="list-inline-item">
          <a href="{{ page.website_project }}" title="project website" target="_blank">
            <span class="fa fa-sitemap" aria-hidden="true"></span>
            project website
          </a>
        </li>
        {% endif %}
        {% if page.doi %}
        <li class="list-inline-item">
          <a href="{{ page.doi | prepend: "http://dx.doi.org/" }}" title="Digital Object Identifier" target="_blank">
            <span class="fa fa-link" aria-hidden="true"></span>
            DOI
          </a>
        </li>
        {% endif %}
        <li class="list-inline-item pl-3">
          <a href="{{ page.url | prepend: site.baseurl }}">
            More details &raquo;
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
  <div class="row pt-3">

  </div>
</div>
