---
layout: page
title: Receipe index
permalink: /receipes
---

{% assign receipes = site.receipes %}
{% assign categories = receipes | map: 'categories' | uniq %}

{% for category in categories %}
<h2 class="my-3">{{ category | capitalize }}</h2>
<ul class="unstyled-list">
{% assign cat_receipes = receipes | where: 'categories', category
                                  | sort: "title" %}
{% for receipe in cat_receipes %}
<li><a href="{{ receipe.url }}">{{ receipe.title }}</a></li>
{% endfor %}
</ul>
{% endfor %}
