/* necessary edits for sticky footer */
html {
    padding-top: 5rem;
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* correctly size svgs in navbar */
.navbar .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
}

.resources .list-inline-item {
    margin-right: 7px;
}

.resources a:hover {
    text-decoration: none;
    color: #333;
}