/* necessary edits for sticky footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
body.with-nav {
    padding-top: 5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* correctly size svgs in navbar */
.navbar .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
}

.resources ul {
    line-height: 10px;
}

.resources .list-inline-item {
    margin-right: 7px;
}

.resources a:hover {
    text-decoration: none;
    color: #333;
}

.resources li.resource-title {
    color: #aaa;
    width: 90px;
    text-align: right;
}


.publication-entry .publication-meta {
    color: #aaa;
    font-size: 0.9em;
}