---
layout: default
---
<article class="post col col-lg-8" itemscope itemtype="http://schema.org/BlogPosting" >

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/recipes">Recipes</a></li>
      <li class="breadcrumb-item"><a href="/recipes/#{{ page.categories | first | slugify }}">{{ page.categories | first | capitalize }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
  </nav>

  <header class="post-header">
    <h1 class="post-title mb-4" itemprop="name headline">{{ page.title }}</h1>
    <dl class="row">

        <dt class="col-sm-2">Prep time</dt>
        <dd class="col-sm-4">{{ page.prep_time }} min</dd>

        <dt class="col-sm-2">Serves</dt>
        <dd class="col-sm-4">{{ page.servings }}</dd>

        <dt class="col-sm-2">Cook time</dt>
        <dd class="col-sm-4">{{ page.cook_time }} min</dd>

        <dt class="col-sm-2">Categories</dt>
        <dd class="col-sm-4">{{ page.categories | join: ", "}}</dd>

        <dt class="col-sm-2">Reference</dt>
        <dd class="col-sm-4">
          {% if page.reference contains 'http' %}
          <a href="{{ page.reference }}" rel="noreferrer nofollow" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> External link</a>
          {%- else -%}
          {{ page.reference }}
          {%- endif -%}
        </dd>
    </dl>
  </header>

  <div class="post-content receipe pb-5" itemprop="articleBody">
    <div class="row">
      <div class="col-md-6 order-12 order-md-1"><h2 class="my-3">Ingredients</h2>
        <ul>
            {%- for ingredient in page.ingredients -%}
            <li>
                {%if ingredient.amount -%}{{ ingredient.amount }} {% endif -%}
                <strong>{{ ingredient.slug }}</strong>
                {%- if ingredient.notes -%}, {{ ingredient.notes }}{%- endif -%}
            </li>
            {%- endfor -%}
        </ul>
      </div>
      {%- if page.image -%}
      <div class="col-md-6 pt-0 pt-md-5 order-1 order-md-12">
        {% assign imgsrc = "/assets/img/recipes/" | append: page.image %}
        <a href="{{ imgsrc }}">
          <img src="{{ imgsrc }}" class="img-fluid" alt="image of {{ page.title }}" />
        </a>
      </div>
      {% endif -%}
    </div>

    <h2 class="my-3">Instructions</h2>
    {{ content }}
  </div>

</article>
